<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>clotheslow-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{101,221}}</string>
        <key>offset</key>
        <string>{-1.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{101,221}}</string>
        <key>sourceSize</key>
        <string>{104,224}</string>
      </dict>
      <key>clotheslow-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,2},{100,218}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{100,218}}</string>
        <key>sourceSize</key>
        <string>{100,220}</string>
      </dict>
      <key>clotheslow-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,2},{102,218}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{102,218}}</string>
        <key>sourceSize</key>
        <string>{108,224}</string>
      </dict>
      <key>clotheslow-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,227},{98,218}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{98,218}}</string>
        <key>sourceSize</key>
        <string>{100,220}</string>
      </dict>
      <key>clotheslow-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,227},{98,217}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{98,217}}</string>
        <key>sourceSize</key>
        <string>{100,220}</string>
      </dict>
      <key>clotheslow-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,224},{106,214}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{106,214}}</string>
        <key>sourceSize</key>
        <string>{112,220}</string>
      </dict>
      <key>clotheslow-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,2},{120,214}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{120,214}}</string>
        <key>sourceSize</key>
        <string>{124,220}</string>
      </dict>
      <key>clotheslow-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,224},{103,208}}</string>
        <key>offset</key>
        <string>{0.5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,3},{103,208}}</string>
        <key>sourceSize</key>
        <string>{120,216}</string>
      </dict>
      <key>clotheslow-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,2},{102,207}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{102,207}}</string>
        <key>sourceSize</key>
        <string>{108,212}</string>
      </dict>
      <key>clotheslow-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,213},{100,207}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{100,207}}</string>
        <key>sourceSize</key>
        <string>{104,212}</string>
      </dict>
      <key>clotheslow-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,449},{104,205}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{104,205}}</string>
        <key>sourceSize</key>
        <string>{108,208}</string>
      </dict>
      <key>clotheslow-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,448},{96,202}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,202}}</string>
        <key>sourceSize</key>
        <string>{96,204}</string>
      </dict>
      <key>clotheslow-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,424},{108,196}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,196}}</string>
        <key>sourceSize</key>
        <string>{108,196}</string>
      </dict>
      <key>clotheslow-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,436},{100,195}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{100,195}}</string>
        <key>sourceSize</key>
        <string>{104,200}</string>
      </dict>
      <key>clotheslow-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,442},{102,191}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{102,191}}</string>
        <key>sourceSize</key>
        <string>{108,196}</string>
      </dict>
      <key>clotheslow-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,2},{101,188}}</string>
        <key>offset</key>
        <string>{-1.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{101,188}}</string>
        <key>sourceSize</key>
        <string>{120,200}</string>
      </dict>
      <key>clotheslow-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,194},{96,186}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{96,186}}</string>
        <key>sourceSize</key>
        <string>{100,188}</string>
      </dict>
      <key>clotheslow-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,384},{98,185}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{98,185}}</string>
        <key>sourceSize</key>
        <string>{100,188}</string>
      </dict>
      <key>clotheslow-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,2},{96,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{96,184}}</string>
        <key>sourceSize</key>
        <string>{100,188}</string>
      </dict>
      <key>clotheslow-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,190},{96,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{96,184}}</string>
        <key>sourceSize</key>
        <string>{100,188}</string>
      </dict>
      <key>clotheslow-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,658},{104,178}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{104,178}}</string>
        <key>sourceSize</key>
        <string>{104,180}</string>
      </dict>
      <key>clotheslow-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,654},{102,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{102,172}}</string>
        <key>sourceSize</key>
        <string>{104,176}</string>
      </dict>
      <key>clotheslow-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,378},{100,167}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{100,167}}</string>
        <key>sourceSize</key>
        <string>{104,172}</string>
      </dict>
      <key>clotheslow-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,637},{124,145}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,7},{124,145}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>clotheslow-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,635},{103,145}}</string>
        <key>offset</key>
        <string>{-0.5,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,4},{103,145}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>clotheslow-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,624},{102,145}}</string>
        <key>offset</key>
        <string>{0,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,4},{102,145}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>clotheslow-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,573},{139,114}}</string>
        <key>offset</key>
        <string>{0.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{139,114}}</string>
        <key>sourceSize</key>
        <string>{144,116}</string>
      </dict>
      <key>clotheslow-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,691},{138,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{138,100}}</string>
        <key>sourceSize</key>
        <string>{140,104}</string>
      </dict>
      <key>clotheslow-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,2},{100,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{100,132}}</string>
        <key>sourceSize</key>
        <string>{104,136}</string>
      </dict>
      <key>clotheslow-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,691},{106,127}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{106,127}}</string>
        <key>sourceSize</key>
        <string>{112,132}</string>
      </dict>
      <key>clotheslow-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,549},{122,61}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{122,61}}</string>
        <key>sourceSize</key>
        <string>{128,68}</string>
      </dict>
      <key>clotheslow-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,614},{122,63}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{122,63}}</string>
        <key>sourceSize</key>
        <string>{128,68}</string>
      </dict>
      <key>clotheslow-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,840},{121,64}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,8},{121,64}}</string>
        <key>sourceSize</key>
        <string>{160,80}</string>
      </dict>
      <key>clotheslow-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,830},{120,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,8},{120,64}}</string>
        <key>sourceSize</key>
        <string>{160,80}</string>
      </dict>
      <key>clotheslow-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,822},{120,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,8},{120,64}}</string>
        <key>sourceSize</key>
        <string>{160,80}</string>
      </dict>
      <key>clotheslow-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,822},{116,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{116,64}}</string>
        <key>sourceSize</key>
        <string>{120,68}</string>
      </dict>
      <key>clotheslow-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,822},{112,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,56}}</string>
        <key>sourceSize</key>
        <string>{112,56}</string>
      </dict>
      <key>clotheslow-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,822},{112,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,56}}</string>
        <key>sourceSize</key>
        <string>{112,56}</string>
      </dict>
      <key>clotheslow-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,822},{111,69}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{111,69}}</string>
        <key>sourceSize</key>
        <string>{116,72}</string>
      </dict>
      <key>clotheslow-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,2},{111,69}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{111,69}}</string>
        <key>sourceSize</key>
        <string>{116,72}</string>
      </dict>
      <key>clotheslow-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,75},{110,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,4},{110,72}}</string>
        <key>sourceSize</key>
        <string>{116,80}</string>
      </dict>
      <key>clotheslow-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,151},{110,60}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{110,60}}</string>
        <key>sourceSize</key>
        <string>{112,64}</string>
      </dict>
      <key>clotheslow-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,215},{106,56}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{106,56}}</string>
        <key>sourceSize</key>
        <string>{108,56}</string>
      </dict>
      <key>clotheslow-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,275},{104,44}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,16},{104,44}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>clotheslow-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,323},{104,51}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{104,51}}</string>
        <key>sourceSize</key>
        <string>{108,56}</string>
      </dict>
      <key>clotheslow-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,378},{104,51}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{104,51}}</string>
        <key>sourceSize</key>
        <string>{108,56}</string>
      </dict>
      <key>clotheslow-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,433},{104,51}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{104,51}}</string>
        <key>sourceSize</key>
        <string>{108,56}</string>
      </dict>
      <key>clotheslow-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,488},{104,51}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{104,51}}</string>
        <key>sourceSize</key>
        <string>{108,56}</string>
      </dict>
      <key>clotheslow-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,488},{103,79}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{103,79}}</string>
        <key>sourceSize</key>
        <string>{104,84}</string>
      </dict>
      <key>clotheslow-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,571},{94,46}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{94,46}}</string>
        <key>sourceSize</key>
        <string>{100,48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>clotheslow.png</string>
      <key>size</key>
      <string>{969,906}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
