<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>clothestop-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{190,280}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{190,280}}</string>
        <key>sourceSize</key>
        <string>{192,280}</string>
      </dict>
      <key>clothestop-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,2},{188,266}}</string>
        <key>offset</key>
        <string>{2,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,1},{188,266}}</string>
        <key>sourceSize</key>
        <string>{192,280}</string>
      </dict>
      <key>clothestop-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,286},{138,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,4},{138,192}}</string>
        <key>sourceSize</key>
        <string>{160,200}</string>
      </dict>
      <key>clothestop-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,272},{168,153}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{168,153}}</string>
        <key>sourceSize</key>
        <string>{172,156}</string>
      </dict>
      <key>clothestop-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,2},{128,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,164}}</string>
        <key>sourceSize</key>
        <string>{128,164}</string>
      </dict>
      <key>clothestop-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,272},{146,159}}</string>
        <key>offset</key>
        <string>{0,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,18},{146,159}}</string>
        <key>sourceSize</key>
        <string>{160,200}</string>
      </dict>
      <key>clothestop-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,482},{144,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{144,158}}</string>
        <key>sourceSize</key>
        <string>{148,164}</string>
      </dict>
      <key>clothestop-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,435},{132,155}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{132,155}}</string>
        <key>sourceSize</key>
        <string>{136,156}</string>
      </dict>
      <key>clothestop-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,435},{134,150}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,6},{134,150}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>clothestop-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,2},{124,150}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{124,150}}</string>
        <key>sourceSize</key>
        <string>{128,156}</string>
      </dict>
      <key>clothestop-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,156},{96,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{96,144}}</string>
        <key>sourceSize</key>
        <string>{96,148}</string>
      </dict>
      <key>clothestop-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,435},{130,143}}</string>
        <key>offset</key>
        <string>{0,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,14},{130,143}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>clothestop-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,644},{134,142}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,8},{134,142}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>clothestop-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,644},{120,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,140}}</string>
        <key>sourceSize</key>
        <string>{120,140}</string>
      </dict>
      <key>clothestop-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,594},{140,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{140,134}}</string>
        <key>sourceSize</key>
        <string>{144,140}</string>
      </dict>
      <key>clothestop-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,589},{102,136}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{102,136}}</string>
        <key>sourceSize</key>
        <string>{104,136}</string>
      </dict>
      <key>clothestop-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,582},{94,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{94,132}}</string>
        <key>sourceSize</key>
        <string>{100,136}</string>
      </dict>
      <key>clothestop-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,304},{96,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,124}}</string>
        <key>sourceSize</key>
        <string>{96,124}</string>
      </dict>
      <key>clothestop-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,2},{90,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{90,124}}</string>
        <key>sourceSize</key>
        <string>{96,128}</string>
      </dict>
      <key>clothestop-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,130},{90,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{90,124}}</string>
        <key>sourceSize</key>
        <string>{96,128}</string>
      </dict>
      <key>clothestop-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,432},{93,122}}</string>
        <key>offset</key>
        <string>{-1.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{93,122}}</string>
        <key>sourceSize</key>
        <string>{96,124}</string>
      </dict>
      <key>clothestop-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,304},{108,120}}</string>
        <key>offset</key>
        <string>{-6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>clothestop-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,558},{86,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{86,120}}</string>
        <key>sourceSize</key>
        <string>{88,120}</string>
      </dict>
      <key>clothestop-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,2},{94,119}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,4},{94,119}}</string>
        <key>sourceSize</key>
        <string>{96,124}</string>
      </dict>
      <key>clothestop-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,428},{98,119}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{98,119}}</string>
        <key>sourceSize</key>
        <string>{100,124}</string>
      </dict>
      <key>clothestop-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,258},{96,118}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,118}}</string>
        <key>sourceSize</key>
        <string>{96,120}</string>
      </dict>
      <key>clothestop-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,551},{108,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{108,118}}</string>
        <key>sourceSize</key>
        <string>{112,120}</string>
      </dict>
      <key>clothestop-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,125},{88,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,3},{88,118}}</string>
        <key>sourceSize</key>
        <string>{96,124}</string>
      </dict>
      <key>clothestop-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,790},{92,117}}</string>
        <key>offset</key>
        <string>{0,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{92,117}}</string>
        <key>sourceSize</key>
        <string>{96,124}</string>
      </dict>
      <key>clothestop-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,790},{96,115}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{96,115}}</string>
        <key>sourceSize</key>
        <string>{100,120}</string>
      </dict>
      <key>clothestop-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,788},{90,115}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{90,115}}</string>
        <key>sourceSize</key>
        <string>{96,120}</string>
      </dict>
      <key>clothestop-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,673},{91,114}}</string>
        <key>offset</key>
        <string>{0.5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{91,114}}</string>
        <key>sourceSize</key>
        <string>{92,116}</string>
      </dict>
      <key>clothestop-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,791},{88,114}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,5},{88,114}}</string>
        <key>sourceSize</key>
        <string>{112,120}</string>
      </dict>
      <key>clothestop-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,791},{90,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,5},{90,114}}</string>
        <key>sourceSize</key>
        <string>{96,124}</string>
      </dict>
      <key>clothestop-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,682},{86,113}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{86,113}}</string>
        <key>sourceSize</key>
        <string>{88,116}</string>
      </dict>
      <key>clothestop-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,791},{88,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,112}}</string>
        <key>sourceSize</key>
        <string>{88,112}</string>
      </dict>
      <key>clothestop-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,718},{88,109}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{88,109}}</string>
        <key>sourceSize</key>
        <string>{92,112}</string>
      </dict>
      <key>clothestop-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,799},{84,108}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,7},{84,108}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>clothestop-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,2},{90,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{90,104}}</string>
        <key>sourceSize</key>
        <string>{96,108}</string>
      </dict>
      <key>clothestop-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,247},{98,78}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{98,78}}</string>
        <key>sourceSize</key>
        <string>{100,80}</string>
      </dict>
      <key>clothestop-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,170},{84,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{84,96}}</string>
        <key>sourceSize</key>
        <string>{88,96}</string>
      </dict>
      <key>clothestop-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,110},{88,95}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,95}}</string>
        <key>sourceSize</key>
        <string>{88,96}</string>
      </dict>
      <key>clothestop-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,329},{95,92}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{95,92}}</string>
        <key>sourceSize</key>
        <string>{100,96}</string>
      </dict>
      <key>clothestop-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,791},{83,94}}</string>
        <key>offset</key>
        <string>{-0.5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,94}}</string>
        <key>sourceSize</key>
        <string>{84,96}</string>
      </dict>
      <key>clothestop-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,673},{94,92}}</string>
        <key>offset</key>
        <string>{5,27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38,7},{94,92}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>clothestop-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,425},{80,93}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,1},{80,93}}</string>
        <key>sourceSize</key>
        <string>{88,96}</string>
      </dict>
      <key>clothestop-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,425},{81,91}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{81,91}}</string>
        <key>sourceSize</key>
        <string>{84,92}</string>
      </dict>
      <key>clothestop-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,520},{84,77}}</string>
        <key>offset</key>
        <string>{0,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{84,77}}</string>
        <key>sourceSize</key>
        <string>{88,96}</string>
      </dict>
      <key>clothestop-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,911},{78,82}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{78,82}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>clothestop-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,911},{74,71}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,4},{74,71}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>clothestop.png</string>
      <key>size</key>
      <string>{932,995}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
