<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>dress-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{284,254}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{284,254}}</string>
        <key>sourceSize</key>
        <string>{284,256}</string>
      </dict>
      <key>dress-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,260},{280,262}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{280,262}}</string>
        <key>sourceSize</key>
        <string>{280,264}</string>
      </dict>
      <key>dress-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,2},{240,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{240,244}}</string>
        <key>sourceSize</key>
        <string>{240,248}</string>
      </dict>
      <key>dress-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,250},{216,195}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{216,195}}</string>
        <key>sourceSize</key>
        <string>{216,200}</string>
      </dict>
      <key>dress-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,526},{128,213}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{128,213}}</string>
        <key>sourceSize</key>
        <string>{132,216}</string>
      </dict>
      <key>dress-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,526},{154,198}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{154,198}}</string>
        <key>sourceSize</key>
        <string>{160,200}</string>
      </dict>
      <key>dress-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,449},{146,195}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,3},{146,195}}</string>
        <key>sourceSize</key>
        <string>{160,200}</string>
      </dict>
      <key>dress-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,2},{146,195}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,3},{146,195}}</string>
        <key>sourceSize</key>
        <string>{160,200}</string>
      </dict>
      <key>dress-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,201},{141,193}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,4},{141,193}}</string>
        <key>sourceSize</key>
        <string>{160,200}</string>
      </dict>
      <key>dress-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,398},{132,189}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{132,189}}</string>
        <key>sourceSize</key>
        <string>{136,192}</string>
      </dict>
      <key>dress-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,2},{132,186}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{132,186}}</string>
        <key>sourceSize</key>
        <string>{136,192}</string>
      </dict>
      <key>dress-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,192},{129,186}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{129,186}}</string>
        <key>sourceSize</key>
        <string>{136,192}</string>
      </dict>
      <key>dress-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,648},{180,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,80}}</string>
        <key>sourceSize</key>
        <string>{180,80}</string>
      </dict>
      <key>dress-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,398},{166,81}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{166,81}}</string>
        <key>sourceSize</key>
        <string>{168,84}</string>
      </dict>
      <key>dress-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,483},{163,72}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{163,72}}</string>
        <key>sourceSize</key>
        <string>{164,72}</string>
      </dict>
      <key>dress-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,559},{160,103}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{160,103}}</string>
        <key>sourceSize</key>
        <string>{164,108}</string>
      </dict>
      <key>dress-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,591},{158,109}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{158,109}}</string>
        <key>sourceSize</key>
        <string>{160,112}</string>
      </dict>
      <key>dress-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,743},{152,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,3},{152,154}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>dress-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,666},{152,96}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,6},{152,96}}</string>
        <key>sourceSize</key>
        <string>{160,112}</string>
      </dict>
      <key>dress-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,704},{146,81}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{146,81}}</string>
        <key>sourceSize</key>
        <string>{148,84}</string>
      </dict>
      <key>dress-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,789},{139,82}}</string>
        <key>offset</key>
        <string>{-0.5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{139,82}}</string>
        <key>sourceSize</key>
        <string>{144,84}</string>
      </dict>
      <key>dress-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,732},{136,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,72}}</string>
        <key>sourceSize</key>
        <string>{136,72}</string>
      </dict>
      <key>dress-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,808},{136,78}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{136,78}}</string>
        <key>sourceSize</key>
        <string>{140,80}</string>
      </dict>
      <key>dress-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,789},{135,85}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{135,85}}</string>
        <key>sourceSize</key>
        <string>{136,88}</string>
      </dict>
      <key>dress-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,789},{135,85}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{135,85}}</string>
        <key>sourceSize</key>
        <string>{136,88}</string>
      </dict>
      <key>dress-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,2},{135,68}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{135,68}}</string>
        <key>sourceSize</key>
        <string>{140,72}</string>
      </dict>
      <key>dress-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,74},{134,76}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,3},{134,76}}</string>
        <key>sourceSize</key>
        <string>{160,80}</string>
      </dict>
      <key>dress-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,154},{132,71}}</string>
        <key>offset</key>
        <string>{1,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,5},{132,71}}</string>
        <key>sourceSize</key>
        <string>{160,80}</string>
      </dict>
      <key>dress-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,229},{132,93}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{132,93}}</string>
        <key>sourceSize</key>
        <string>{136,96}</string>
      </dict>
      <key>dress-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,326},{132,71}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{132,71}}</string>
        <key>sourceSize</key>
        <string>{136,76}</string>
      </dict>
      <key>dress-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{816,401},{132,117}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{132,117}}</string>
        <key>sourceSize</key>
        <string>{136,120}</string>
      </dict>
      <key>dress-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,522},{126,65}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{126,65}}</string>
        <key>sourceSize</key>
        <string>{128,68}</string>
      </dict>
      <key>dress-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,591},{126,75}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{126,75}}</string>
        <key>sourceSize</key>
        <string>{132,80}</string>
      </dict>
      <key>dress-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,670},{125,65}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{125,65}}</string>
        <key>sourceSize</key>
        <string>{128,68}</string>
      </dict>
      <key>dress-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,739},{125,65}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{125,65}}</string>
        <key>sourceSize</key>
        <string>{128,68}</string>
      </dict>
      <key>dress-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,808},{119,67}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,1},{119,67}}</string>
        <key>sourceSize</key>
        <string>{128,68}</string>
      </dict>
      <key>dress-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,901},{118,86}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,19},{118,86}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>dress-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,890},{118,91}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{118,91}}</string>
        <key>sourceSize</key>
        <string>{120,96}</string>
      </dict>
      <key>dress-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,890},{116,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{116,64}}</string>
        <key>sourceSize</key>
        <string>{120,68}</string>
      </dict>
      <key>dress-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,890},{116,81}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{116,81}}</string>
        <key>sourceSize</key>
        <string>{120,84}</string>
      </dict>
      <key>dress-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,879},{115,93}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{115,93}}</string>
        <key>sourceSize</key>
        <string>{116,96}</string>
      </dict>
      <key>dress-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,879},{114,101}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,1},{114,101}}</string>
        <key>sourceSize</key>
        <string>{120,104}</string>
      </dict>
      <key>dress-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,879},{114,82}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{114,82}}</string>
        <key>sourceSize</key>
        <string>{116,84}</string>
      </dict>
      <key>dress-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,2},{114,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,0},{114,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>dress-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,732},{112,52}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,12},{112,52}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>dress-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,86},{110,85}}</string>
        <key>offset</key>
        <string>{1,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,19},{110,85}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>dress-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,175},{110,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{110,70}}</string>
        <key>sourceSize</key>
        <string>{116,76}</string>
      </dict>
      <key>dress-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,249},{106,75}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{106,75}}</string>
        <key>sourceSize</key>
        <string>{108,80}</string>
      </dict>
      <key>dress-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,328},{100,103}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{100,103}}</string>
        <key>sourceSize</key>
        <string>{104,108}</string>
      </dict>
      <key>dress-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,435},{100,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{100,84}}</string>
        <key>sourceSize</key>
        <string>{104,88}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>dress.png</string>
      <key>size</key>
      <string>{1075,989}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
