<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>earing-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{160,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,40}}</string>
        <key>sourceSize</key>
        <string>{160,40}</string>
      </dict>
      <key>earing-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,46},{160,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,40}}</string>
        <key>sourceSize</key>
        <string>{160,40}</string>
      </dict>
      <key>earing-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,90},{160,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,40}}</string>
        <key>sourceSize</key>
        <string>{160,40}</string>
      </dict>
      <key>earing-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,134},{144,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,48}}</string>
        <key>sourceSize</key>
        <string>{144,48}</string>
      </dict>
      <key>earing-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,2},{140,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,28}}</string>
        <key>sourceSize</key>
        <string>{140,28}</string>
      </dict>
      <key>earing-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,34},{140,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,32}}</string>
        <key>sourceSize</key>
        <string>{140,32}</string>
      </dict>
      <key>earing-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,70},{140,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,32}}</string>
        <key>sourceSize</key>
        <string>{140,32}</string>
      </dict>
      <key>earing-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,106},{140,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,32}}</string>
        <key>sourceSize</key>
        <string>{140,32}</string>
      </dict>
      <key>earing-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,142},{140,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,32}}</string>
        <key>sourceSize</key>
        <string>{140,32}</string>
      </dict>
      <key>earing-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,186},{140,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,36}}</string>
        <key>sourceSize</key>
        <string>{140,36}</string>
      </dict>
      <key>earing-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,186},{140,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,36}}</string>
        <key>sourceSize</key>
        <string>{140,36}</string>
      </dict>
      <key>earing-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,226},{136,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,32}}</string>
        <key>sourceSize</key>
        <string>{136,32}</string>
      </dict>
      <key>earing-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,262},{136,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,48}}</string>
        <key>sourceSize</key>
        <string>{136,48}</string>
      </dict>
      <key>earing-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,226},{136,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,32}}</string>
        <key>sourceSize</key>
        <string>{136,32}</string>
      </dict>
      <key>earing-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,262},{136,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{136,44}}</string>
        <key>sourceSize</key>
        <string>{136,44}</string>
      </dict>
      <key>earing-051.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,2},{132,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,52}}</string>
        <key>sourceSize</key>
        <string>{132,52}</string>
      </dict>
      <key>earing-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,58},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,102},{128,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,44}}</string>
        <key>sourceSize</key>
        <string>{128,44}</string>
      </dict>
      <key>earing-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,150},{128,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,32}}</string>
        <key>sourceSize</key>
        <string>{128,32}</string>
      </dict>
      <key>earing-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,186},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,230},{128,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,28}}</string>
        <key>sourceSize</key>
        <string>{128,28}</string>
      </dict>
      <key>earing-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,262},{128,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,36}}</string>
        <key>sourceSize</key>
        <string>{128,36}</string>
      </dict>
      <key>earing-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,314},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,314},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,310},{128,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,32}}</string>
        <key>sourceSize</key>
        <string>{128,32}</string>
      </dict>
      <key>earing-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,358},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-052.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,358},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,402},{128,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,60}}</string>
        <key>sourceSize</key>
        <string>{128,60}</string>
      </dict>
      <key>earing-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,402},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,346},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,390},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,434},{128,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,28}}</string>
        <key>sourceSize</key>
        <string>{128,28}</string>
      </dict>
      <key>earing-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,2},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,46},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,90},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,134},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,178},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,222},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,266},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,310},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,354},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,398},{128,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,40}}</string>
        <key>sourceSize</key>
        <string>{128,40}</string>
      </dict>
      <key>earing-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,466},{124,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,32}}</string>
        <key>sourceSize</key>
        <string>{124,32}</string>
      </dict>
      <key>earing-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,446},{124,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,24}}</string>
        <key>sourceSize</key>
        <string>{124,24}</string>
      </dict>
      <key>earing-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,466},{124,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,28}}</string>
        <key>sourceSize</key>
        <string>{124,28}</string>
      </dict>
      <key>earing-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,474},{120,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,24}}</string>
        <key>sourceSize</key>
        <string>{120,24}</string>
      </dict>
      <key>earing-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,442},{120,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,44}}</string>
        <key>sourceSize</key>
        <string>{120,44}</string>
      </dict>
      <key>earing-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,502},{120,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,40}}</string>
        <key>sourceSize</key>
        <string>{120,40}</string>
      </dict>
      <key>earing-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,502},{120,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,36}}</string>
        <key>sourceSize</key>
        <string>{120,36}</string>
      </dict>
      <key>earing-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,502},{116,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,36}}</string>
        <key>sourceSize</key>
        <string>{116,36}</string>
      </dict>
      <key>earing-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,498},{116,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,40}}</string>
        <key>sourceSize</key>
        <string>{116,40}</string>
      </dict>
      <key>earing-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,178},{16,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,48}}</string>
        <key>sourceSize</key>
        <string>{16,48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>earing.png</string>
      <key>size</key>
      <string>{576,544}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
