<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>eye-056.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{120,61}}</string>
        <key>offset</key>
        <string>{0,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,27},{120,61}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,67},{120,66}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,22},{120,66}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,2},{120,72}}</string>
        <key>offset</key>
        <string>{0,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,16},{120,72}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-108.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,78},{120,66}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,22},{120,66}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,137},{120,66}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,22},{120,66}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-106.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,148},{120,56}}</string>
        <key>offset</key>
        <string>{0,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,32},{120,56}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,207},{120,50}}</string>
        <key>offset</key>
        <string>{0,-19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,38},{120,50}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,208},{120,44}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,18},{120,44}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,2},{120,57}}</string>
        <key>offset</key>
        <string>{0,-15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,31},{120,57}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-104.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,63},{120,66}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,22},{120,66}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,133},{120,56}}</string>
        <key>offset</key>
        <string>{0,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,32},{120,56}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,193},{120,57}}</string>
        <key>offset</key>
        <string>{0,-15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,31},{120,57}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,254},{120,67}}</string>
        <key>offset</key>
        <string>{0,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,21},{120,67}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,256},{120,69}}</string>
        <key>offset</key>
        <string>{0,-9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,19},{120,69}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,261},{120,61}}</string>
        <key>offset</key>
        <string>{0,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,27},{120,61}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-103.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,325},{120,66}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,22},{120,66}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,326},{120,57}}</string>
        <key>offset</key>
        <string>{0,-15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,31},{120,57}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,329},{120,62}}</string>
        <key>offset</key>
        <string>{0,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,26},{120,62}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,2},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,94},{120,52}}</string>
        <key>offset</key>
        <string>{0,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,36},{120,52}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-100.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,150},{120,62}}</string>
        <key>offset</key>
        <string>{0,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,26},{120,62}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-097.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,216},{120,65}}</string>
        <key>offset</key>
        <string>{0,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,23},{120,65}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,285},{120,68}}</string>
        <key>offset</key>
        <string>{0,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,20},{120,68}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,387},{120,73}}</string>
        <key>offset</key>
        <string>{0,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,15},{120,73}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,357},{120,63}}</string>
        <key>offset</key>
        <string>{0,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,25},{120,63}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,395},{120,63}}</string>
        <key>offset</key>
        <string>{0,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,25},{120,63}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-093.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,395},{120,68}}</string>
        <key>offset</key>
        <string>{0,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,20},{120,68}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,462},{120,63}}</string>
        <key>offset</key>
        <string>{0,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,25},{120,63}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-091.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,424},{120,62}}</string>
        <key>offset</key>
        <string>{0,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,26},{120,62}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,464},{120,64}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,24},{120,64}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-090.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,467},{120,63}}</string>
        <key>offset</key>
        <string>{0,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,25},{120,63}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,490},{120,47}}</string>
        <key>offset</key>
        <string>{0,-15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,36},{120,47}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,2},{120,61}}</string>
        <key>offset</key>
        <string>{0,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,27},{120,61}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-089.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,67},{120,67}}</string>
        <key>offset</key>
        <string>{0,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,21},{120,67}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,138},{120,66}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,22},{120,66}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,208},{120,61}}</string>
        <key>offset</key>
        <string>{0,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,27},{120,61}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,273},{120,72}}</string>
        <key>offset</key>
        <string>{0,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,16},{120,72}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-088.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,349},{120,54}}</string>
        <key>offset</key>
        <string>{0,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,34},{120,54}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-087.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,407},{120,65}}</string>
        <key>offset</key>
        <string>{0,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,23},{120,65}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,476},{120,66}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,22},{120,66}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,529},{120,64}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,24},{120,64}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,532},{120,58}}</string>
        <key>offset</key>
        <string>{0,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,30},{120,58}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-086.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,534},{120,60}}</string>
        <key>offset</key>
        <string>{0,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,28},{120,60}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-085.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,541},{120,61}}</string>
        <key>offset</key>
        <string>{0,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,27},{120,61}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,594},{120,72}}</string>
        <key>offset</key>
        <string>{0,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,16},{120,72}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-084.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,546},{120,68}}</string>
        <key>offset</key>
        <string>{0,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,20},{120,68}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,597},{120,60}}</string>
        <key>offset</key>
        <string>{0,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,28},{120,60}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,598},{120,59}}</string>
        <key>offset</key>
        <string>{0,-14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,29},{120,59}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-083.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,606},{120,33}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,27},{120,33}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,618},{120,69}}</string>
        <key>offset</key>
        <string>{0,-9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,19},{120,69}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-051.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,2},{120,66}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,22},{120,66}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-081.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,72},{120,68}}</string>
        <key>offset</key>
        <string>{0,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,20},{120,68}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-053.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,643},{120,35}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,27},{120,35}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-054.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,144},{120,34}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,32},{120,34}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-079.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,182},{120,64}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,24},{120,64}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,661},{120,31}}</string>
        <key>offset</key>
        <string>{0,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,34},{120,31}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-057.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,250},{120,32}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,29},{120,32}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-078.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,286},{120,63}}</string>
        <key>offset</key>
        <string>{0,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,25},{120,63}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-076.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,353},{120,65}}</string>
        <key>offset</key>
        <string>{0,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,23},{120,65}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-060.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,422},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-067.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,514},{120,64}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,24},{120,64}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-062.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,582},{120,64}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,24},{120,64}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-063.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,670},{120,65}}</string>
        <key>offset</key>
        <string>{0,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,23},{120,65}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-066.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,661},{120,58}}</string>
        <key>offset</key>
        <string>{0,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,30},{120,58}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-095.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,650},{112,56}}</string>
        <key>offset</key>
        <string>{0,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,32},{112,56}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,696},{108,65}}</string>
        <key>offset</key>
        <string>{0,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,23},{108,65}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-052.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,691},{106,61}}</string>
        <key>offset</key>
        <string>{0,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,27},{106,61}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-077.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,691},{106,64}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,24},{106,64}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-107.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,2},{106,66}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,22},{106,66}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-092.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,72},{106,59}}</string>
        <key>offset</key>
        <string>{0,-14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,29},{106,59}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,135},{105,62}}</string>
        <key>offset</key>
        <string>{7.5,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,26},{105,62}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-058.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,201},{104,61}}</string>
        <key>offset</key>
        <string>{0,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,27},{104,61}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-070.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,266},{104,61}}</string>
        <key>offset</key>
        <string>{0,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,27},{104,61}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-109.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,331},{104,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{104,30}}</string>
        <key>sourceSize</key>
        <string>{104,36}</string>
      </dict>
      <key>eye-096.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,365},{102,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,0},{102,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-110.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,723},{100,38}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{100,38}}</string>
        <key>sourceSize</key>
        <string>{100,40}</string>
      </dict>
      <key>eye-068.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,457},{100,64}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,24},{100,64}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-075.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,525},{100,55}}</string>
        <key>offset</key>
        <string>{-10,-16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,33},{100,55}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-098.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,584},{100,61}}</string>
        <key>offset</key>
        <string>{0,-13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,27},{100,61}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-105.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,649},{98,60}}</string>
        <key>offset</key>
        <string>{0,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,28},{98,60}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-102.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,765},{98,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,0},{98,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-099.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,756},{96,38}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,24},{96,38}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-069.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,765},{96,64}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,24},{96,64}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-073.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,765},{94,65}}</string>
        <key>offset</key>
        <string>{0,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,23},{94,65}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,759},{92,64}}</string>
        <key>offset</key>
        <string>{0,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,24},{92,64}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-101.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,759},{92,59}}</string>
        <key>offset</key>
        <string>{0,-14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,29},{92,59}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,710},{92,70}}</string>
        <key>offset</key>
        <string>{0,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,18},{92,70}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-080.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,784},{90,66}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,22},{90,66}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-071.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,822},{90,28}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,32},{90,28}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-074.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,713},{90,75}}</string>
        <key>offset</key>
        <string>{0,-6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,13},{90,75}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,792},{90,58}}</string>
        <key>offset</key>
        <string>{0,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,30},{90,58}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,2},{90,68}}</string>
        <key>offset</key>
        <string>{0,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,20},{90,68}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,74},{88,32}}</string>
        <key>offset</key>
        <string>{0,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,34},{88,32}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-065.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,110},{88,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,0},{88,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,834},{86,18}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,36},{86,18}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-061.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,202},{86,38}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,24},{86,38}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,834},{84,12}}</string>
        <key>offset</key>
        <string>{0,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,48},{84,12}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,834},{84,14}}</string>
        <key>offset</key>
        <string>{0,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,47},{84,14}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-082.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,244},{84,13}}</string>
        <key>offset</key>
        <string>{0,-9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,47},{84,13}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,827},{82,23}}</string>
        <key>offset</key>
        <string>{0,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,40},{82,23}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-094.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,739},{82,18}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,39},{82,18}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,798},{82,17}}</string>
        <key>offset</key>
        <string>{0,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,40},{82,17}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,792},{82,53}}</string>
        <key>offset</key>
        <string>{0,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,15},{82,53}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,261},{82,17}}</string>
        <key>offset</key>
        <string>{0,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,48},{82,17}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-072.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,282},{82,40}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,21},{82,40}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-064.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,326},{80,6}}</string>
        <key>offset</key>
        <string>{0,-8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,49},{80,6}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,336},{80,10}}</string>
        <key>offset</key>
        <string>{0,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,49},{80,10}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-055.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,827},{78,11}}</string>
        <key>offset</key>
        <string>{0,-8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,47},{78,11}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-059.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,350},{76,31}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,31},{76,31}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eye-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,385},{64,27}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,31},{64,27}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>eye.png</string>
      <key>size</key>
      <string>{948,855}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
