<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>eyebrow-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,94},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,2},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,94},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,186},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,186},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,2},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,94},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,186},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,278},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,278},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,278},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,370},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,370},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,370},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,2},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,94},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,186},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,278},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,370},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,462},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,462},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,462},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,462},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,2},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,94},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,186},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,278},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,370},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,462},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,554},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,554},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,554},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,554},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,554},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,2},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,94},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,186},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,278},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,370},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,462},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,554},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,646},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,646},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,646},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,646},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,646},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,646},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,738},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,738},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-051.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,738},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-052.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,738},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-053.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,738},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-054.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,738},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-055.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,2},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-056.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,94},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-057.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,186},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-058.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,278},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-059.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,370},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-060.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,462},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-061.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,554},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-062.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,646},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>eyebrow-063.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,738},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>eyebrow.png</string>
      <key>size</key>
      <string>{868,828}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
