<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hairfront-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{162,267}}</string>
        <key>offset</key>
        <string>{0,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,11},{162,267}}</string>
        <key>sourceSize</key>
        <string>{200,280}</string>
      </dict>
      <key>hairfront-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,2},{166,263}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,9},{166,263}}</string>
        <key>sourceSize</key>
        <string>{200,280}</string>
      </dict>
      <key>hairfront-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,273},{176,262}}</string>
        <key>offset</key>
        <string>{0,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,14},{176,262}}</string>
        <key>sourceSize</key>
        <string>{200,280}</string>
      </dict>
      <key>hairfront-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,2},{168,257}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,14},{168,257}}</string>
        <key>sourceSize</key>
        <string>{200,280}</string>
      </dict>
      <key>hairfront-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,263},{168,250}}</string>
        <key>offset</key>
        <string>{0,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,7},{168,250}}</string>
        <key>sourceSize</key>
        <string>{200,280}</string>
      </dict>
      <key>hairfront-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,2},{238,174}}</string>
        <key>offset</key>
        <string>{0,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,3},{238,174}}</string>
        <key>sourceSize</key>
        <string>{268,192}</string>
      </dict>
      <key>hairfront-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,269},{152,236}}</string>
        <key>offset</key>
        <string>{0,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,14},{152,236}}</string>
        <key>sourceSize</key>
        <string>{200,280}</string>
      </dict>
      <key>hairfront-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,180},{175,222}}</string>
        <key>offset</key>
        <string>{0.5,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{175,222}}</string>
        <key>sourceSize</key>
        <string>{180,232}</string>
      </dict>
      <key>hairfront-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,539},{156,210}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{156,210}}</string>
        <key>sourceSize</key>
        <string>{160,212}</string>
      </dict>
      <key>hairfront-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,539},{162,193}}</string>
        <key>offset</key>
        <string>{0,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,14},{162,193}}</string>
        <key>sourceSize</key>
        <string>{200,280}</string>
      </dict>
      <key>hairfront-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,406},{180,166}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{180,166}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,517},{178,167}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{178,167}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,576},{174,143}}</string>
        <key>offset</key>
        <string>{0,10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{174,143}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,2},{170,163}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{170,163}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,169},{170,155}}</string>
        <key>offset</key>
        <string>{0,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,2},{170,155}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,576},{170,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{170,126}}</string>
        <key>sourceSize</key>
        <string>{172,132}</string>
      </dict>
      <key>hairfront-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,328},{168,146}}</string>
        <key>offset</key>
        <string>{0,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,3},{168,146}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,753},{156,168}}</string>
        <key>offset</key>
        <string>{0,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56,7},{156,168}}</string>
        <key>sourceSize</key>
        <string>{268,192}</string>
      </dict>
      <key>hairfront-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,688},{168,140}}</string>
        <key>offset</key>
        <string>{0,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,4},{168,140}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,723},{166,144}}</string>
        <key>offset</key>
        <string>{0,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,4},{166,144}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,723},{164,143}}</string>
        <key>offset</key>
        <string>{0,9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,3},{164,143}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,925},{163,120}}</string>
        <key>offset</key>
        <string>{-7.5,22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{163,120}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,736},{162,120}}</string>
        <key>offset</key>
        <string>{-5,24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,0},{162,120}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,832},{162,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,4},{162,160}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,871},{162,150}}</string>
        <key>offset</key>
        <string>{0,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,4},{162,150}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,871},{160,142}}</string>
        <key>offset</key>
        <string>{0,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,1},{160,142}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,860},{152,160}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,3},{152,160}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,2},{150,159}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,4},{150,159}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,870},{158,143}}</string>
        <key>offset</key>
        <string>{-1,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,6},{158,143}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,706},{158,148}}</string>
        <key>offset</key>
        <string>{0,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,4},{158,148}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,165},{146,157}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,6},{146,157}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,328},{157,114}}</string>
        <key>offset</key>
        <string>{0.5,24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,3},{157,114}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,446},{156,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{156,110}}</string>
        <key>sourceSize</key>
        <string>{156,116}</string>
      </dict>
      <key>hairfront-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1049},{144,154}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,6},{144,154}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,996},{153,113}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,9},{153,113}}</string>
        <key>sourceSize</key>
        <string>{172,132}</string>
      </dict>
      <key>hairfront-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1049},{148,152}}</string>
        <key>offset</key>
        <string>{0,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,3},{148,152}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,1025},{151,144}}</string>
        <key>offset</key>
        <string>{2.5,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,6},{151,144}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,1025},{146,151}}</string>
        <key>offset</key>
        <string>{0,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,3},{146,151}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,560},{151,124}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{151,124}}</string>
        <key>sourceSize</key>
        <string>{152,128}</string>
      </dict>
      <key>hairfront-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,1017},{150,142}}</string>
        <key>offset</key>
        <string>{0,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,1},{150,142}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,2},{148,150}}</string>
        <key>offset</key>
        <string>{0,16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{60,5},{148,150}}</string>
        <key>sourceSize</key>
        <string>{268,192}</string>
      </dict>
      <key>hairfront-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,156},{148,140}}</string>
        <key>offset</key>
        <string>{1,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,2},{148,140}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,300},{146,147}}</string>
        <key>offset</key>
        <string>{0,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,4},{146,147}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{1026,451},{147,115}}</string>
        <key>offset</key>
        <string>{0.5,22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,4},{147,115}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>hairfront-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,570},{144,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,112}}</string>
        <key>sourceSize</key>
        <string>{144,112}</string>
      </dict>
      <key>hairfront-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,686},{144,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,112}}</string>
        <key>sourceSize</key>
        <string>{144,112}</string>
      </dict>
      <key>hairfront-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,1017},{144,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,112}}</string>
        <key>sourceSize</key>
        <string>{144,112}</string>
      </dict>
      <key>hairfront-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,858},{144,111}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{144,111}}</string>
        <key>sourceSize</key>
        <string>{144,112}</string>
      </dict>
      <key>hairfront-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1207},{144,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,112}}</string>
        <key>sourceSize</key>
        <string>{144,112}</string>
      </dict>
      <key>hairfront-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,1205},{144,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,112}}</string>
        <key>sourceSize</key>
        <string>{144,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>hairfront.png</string>
      <key>size</key>
      <string>{1230,1321}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
