<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>mouth-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{50,24}}</string>
        <key>offset</key>
        <string>{0,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35,60},{50,24}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,30},{48,23}}</string>
        <key>offset</key>
        <string>{0,-25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,58},{48,23}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,2},{42,15}}</string>
        <key>offset</key>
        <string>{0,-27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39,64},{42,15}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,30},{38,22}}</string>
        <key>offset</key>
        <string>{0,-29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41,62},{38,22}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,21},{37,4}}</string>
        <key>offset</key>
        <string>{0.5,-26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,68},{37,4}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,57},{34,8}}</string>
        <key>offset</key>
        <string>{0,-26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43,66},{34,8}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,57},{32,7}}</string>
        <key>offset</key>
        <string>{0,-26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44,67},{32,7}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,69},{32,9}}</string>
        <key>offset</key>
        <string>{0,-27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44,67},{32,9}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,69},{28,8}}</string>
        <key>offset</key>
        <string>{0,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,68},{28,8}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,68},{28,6}}</string>
        <key>offset</key>
        <string>{0,-25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,66},{28,6}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,82},{27,19}}</string>
        <key>offset</key>
        <string>{0.5,-29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47,64},{27,19}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,82},{26,18}}</string>
        <key>offset</key>
        <string>{0,-29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47,64},{26,18}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,78},{26,6}}</string>
        <key>offset</key>
        <string>{0,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47,69},{26,6}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,2},{24,17}}</string>
        <key>offset</key>
        <string>{0,-28.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48,64},{24,17}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,56},{24,8}}</string>
        <key>offset</key>
        <string>{0,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48,67},{24,8}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,23},{22,10}}</string>
        <key>offset</key>
        <string>{0,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49,67},{22,10}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,37},{22,9}}</string>
        <key>offset</key>
        <string>{0,-27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49,67},{22,9}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,50},{20,5}}</string>
        <key>offset</key>
        <string>{0,-26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50,68},{20,5}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,59},{20,16}}</string>
        <key>offset</key>
        <string>{0,-29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50,65},{20,16}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,79},{20,16}}</string>
        <key>offset</key>
        <string>{0,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50,64},{20,16}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,105},{18,19}}</string>
        <key>offset</key>
        <string>{0,-29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51,64},{18,19}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,105},{18,12}}</string>
        <key>offset</key>
        <string>{0,-26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51,64},{18,12}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,104},{18,6}}</string>
        <key>offset</key>
        <string>{0,-25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51,66},{18,6}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,114},{16,6}}</string>
        <key>offset</key>
        <string>{0,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52,68},{16,6}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,99},{11,16}}</string>
        <key>offset</key>
        <string>{-2.5,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52,64},{11,16}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,99},{16,10}}</string>
        <key>offset</key>
        <string>{0,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52,67},{16,10}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,113},{16,8}}</string>
        <key>offset</key>
        <string>{0,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52,68},{16,8}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,99},{16,8}}</string>
        <key>offset</key>
        <string>{0,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52,67},{16,8}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,111},{15,9}}</string>
        <key>offset</key>
        <string>{2.5,-25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55,65},{15,9}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,88},{14,6}}</string>
        <key>offset</key>
        <string>{0,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53,69},{14,6}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,128},{14,12}}</string>
        <key>offset</key>
        <string>{-7,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,68},{14,12}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,128},{14,9}}</string>
        <key>offset</key>
        <string>{0,-29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53,69},{14,9}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,125},{14,10}}</string>
        <key>offset</key>
        <string>{0,-29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53,68},{14,10}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,88},{14,7}}</string>
        <key>offset</key>
        <string>{0,-26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53,67},{14,7}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,119},{12,14}}</string>
        <key>offset</key>
        <string>{0,-29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,66},{12,14}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,124},{14,4}}</string>
        <key>offset</key>
        <string>{0,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53,70},{14,4}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,125},{14,9}}</string>
        <key>offset</key>
        <string>{0,-34.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53,74},{14,9}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,132},{12,7}}</string>
        <key>offset</key>
        <string>{0,-29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,70},{12,7}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,2},{12,7}}</string>
        <key>offset</key>
        <string>{0,-28.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,69},{12,7}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,13},{12,5}}</string>
        <key>offset</key>
        <string>{0,-28.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,70},{12,5}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,22},{12,10}}</string>
        <key>offset</key>
        <string>{0,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,66},{12,10}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,36},{12,7}}</string>
        <key>offset</key>
        <string>{0,-30.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,71},{12,7}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,47},{12,6}}</string>
        <key>offset</key>
        <string>{0,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,68},{12,6}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,57},{10,11}}</string>
        <key>offset</key>
        <string>{0,-27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55,66},{10,11}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,132},{10,4}}</string>
        <key>offset</key>
        <string>{0,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55,74},{10,4}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,72},{10,10}}</string>
        <key>offset</key>
        <string>{0,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55,66},{10,10}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,86},{8,6}}</string>
        <key>offset</key>
        <string>{0,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56,68},{8,6}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,124},{6,6}}</string>
        <key>offset</key>
        <string>{-1,-26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56,67},{6,6}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,134},{6,5}}</string>
        <key>offset</key>
        <string>{0,-28.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57,70},{6,5}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>mouth-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,29},{4,4}}</string>
        <key>offset</key>
        <string>{0,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{58,72},{4,4}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>mouth.png</string>
      <key>size</key>
      <string>{144,142}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
