<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>shoe-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{104,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,120}}</string>
        <key>sourceSize</key>
        <string>{104,120}</string>
      </dict>
      <key>shoe-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,2},{120,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>shoe-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,126},{120,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>shoe-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,126},{120,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>shoe-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,2},{120,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,80}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>shoe-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,210},{116,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,84}}</string>
        <key>sourceSize</key>
        <string>{116,84}</string>
      </dict>
      <key>shoe-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,210},{116,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,84}}</string>
        <key>sourceSize</key>
        <string>{116,84}</string>
      </dict>
      <key>shoe-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,210},{116,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,84}}</string>
        <key>sourceSize</key>
        <string>{116,84}</string>
      </dict>
      <key>shoe-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,298},{100,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,112}}</string>
        <key>sourceSize</key>
        <string>{100,112}</string>
      </dict>
      <key>shoe-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,298},{108,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,88}}</string>
        <key>sourceSize</key>
        <string>{108,88}</string>
      </dict>
      <key>shoe-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,298},{88,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,108}}</string>
        <key>sourceSize</key>
        <string>{88,108}</string>
      </dict>
      <key>shoe-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,2},{108,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,96}}</string>
        <key>sourceSize</key>
        <string>{108,96}</string>
      </dict>
      <key>shoe-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,114},{104,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,84}}</string>
        <key>sourceSize</key>
        <string>{104,84}</string>
      </dict>
      <key>shoe-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,2},{104,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,68}}</string>
        <key>sourceSize</key>
        <string>{104,68}</string>
      </dict>
      <key>shoe-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,298},{96,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,104}}</string>
        <key>sourceSize</key>
        <string>{96,104}</string>
      </dict>
      <key>shoe-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,114},{104,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,60}}</string>
        <key>sourceSize</key>
        <string>{104,60}</string>
      </dict>
      <key>shoe-002-shop.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,402},{104,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,69}}</string>
        <key>sourceSize</key>
        <string>{104,69}</string>
      </dict>
      <key>shoe-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,2},{92,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,104}}</string>
        <key>sourceSize</key>
        <string>{92,104}</string>
      </dict>
      <key>shoe-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,402},{100,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,68}}</string>
        <key>sourceSize</key>
        <string>{100,68}</string>
      </dict>
      <key>shoe-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,222},{100,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,68}}</string>
        <key>sourceSize</key>
        <string>{100,68}</string>
      </dict>
      <key>shoe-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,114},{100,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,76}}</string>
        <key>sourceSize</key>
        <string>{100,76}</string>
      </dict>
      <key>shoe-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,218},{96,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,84}}</string>
        <key>sourceSize</key>
        <string>{96,84}</string>
      </dict>
      <key>shoe-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,398},{96,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,64}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>shoe-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,318},{96,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,60}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>shoe-001-shop.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,398},{93,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,68}}</string>
        <key>sourceSize</key>
        <string>{93,68}</string>
      </dict>
      <key>shoe-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,398},{92,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,60}}</string>
        <key>sourceSize</key>
        <string>{92,60}</string>
      </dict>
      <key>shoe-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,475},{88,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,60}}</string>
        <key>sourceSize</key>
        <string>{88,60}</string>
      </dict>
      <key>shoe-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,475},{88,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,60}}</string>
        <key>sourceSize</key>
        <string>{88,60}</string>
      </dict>
      <key>shoe-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,474},{88,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,60}}</string>
        <key>sourceSize</key>
        <string>{88,60}</string>
      </dict>
      <key>shoe-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,470},{88,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,60}}</string>
        <key>sourceSize</key>
        <string>{88,60}</string>
      </dict>
      <key>shoe-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,470},{88,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,64}}</string>
        <key>sourceSize</key>
        <string>{88,64}</string>
      </dict>
      <key>shoe-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,462},{88,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,60}}</string>
        <key>sourceSize</key>
        <string>{88,60}</string>
      </dict>
      <key>shoe-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,539},{84,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,60}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,534},{84,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,64}}</string>
        <key>sourceSize</key>
        <string>{84,64}</string>
      </dict>
      <key>shoe-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,539},{84,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,60}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,539},{84,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,60}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,538},{84,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,60}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,538},{84,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,60}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,2},{84,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,60}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,90},{84,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,60}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,526},{80,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,178},{80,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,262},{80,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,346},{80,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,430},{80,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,590},{80,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,603},{80,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,603},{80,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,603},{80,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,603},{80,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,602},{80,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,602},{76,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,60}}</string>
        <key>sourceSize</key>
        <string>{76,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>shoe.png</string>
      <key>size</key>
      <string>{624,665}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
