<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wing-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{459,229}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{459,229}}</string>
        <key>sourceSize</key>
        <string>{459,229}</string>
      </dict>
      <key>wing-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,235},{479,181}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{479,181}}</string>
        <key>sourceSize</key>
        <string>{479,181}</string>
      </dict>
      <key>wing-054.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,420},{345,246}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{345,246}}</string>
        <key>sourceSize</key>
        <string>{345,246}</string>
      </dict>
      <key>wing-053.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,2},{421,181}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{421,181}}</string>
        <key>sourceSize</key>
        <string>{421,181}</string>
      </dict>
      <key>wing-055.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,427},{381,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{381,200}}</string>
        <key>sourceSize</key>
        <string>{381,200}</string>
      </dict>
      <key>wing-052.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,631},{271,278}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{271,278}}</string>
        <key>sourceSize</key>
        <string>{271,278}</string>
      </dict>
      <key>wing-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,670},{331,207}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{331,207}}</string>
        <key>sourceSize</key>
        <string>{331,207}</string>
      </dict>
      <key>wing-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,631},{315,214}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{315,214}}</string>
        <key>sourceSize</key>
        <string>{315,214}</string>
      </dict>
      <key>wing-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,2},{335,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,200}}</string>
        <key>sourceSize</key>
        <string>{335,200}</string>
      </dict>
      <key>wing-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,206},{409,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{409,152}}</string>
        <key>sourceSize</key>
        <string>{409,152}</string>
      </dict>
      <key>wing-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,362},{187,292}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,292}}</string>
        <key>sourceSize</key>
        <string>{187,292}</string>
      </dict>
      <key>wing-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,881},{187,292}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,292}}</string>
        <key>sourceSize</key>
        <string>{187,292}</string>
      </dict>
      <key>wing-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,553},{331,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{331,139}}</string>
        <key>sourceSize</key>
        <string>{331,139}</string>
      </dict>
      <key>wing-051.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,849},{281,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{281,163}}</string>
        <key>sourceSize</key>
        <string>{281,163}</string>
      </dict>
      <key>wing-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,913},{291,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{291,156}}</string>
        <key>sourceSize</key>
        <string>{291,156}</string>
      </dict>
      <key>wing-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1032,362},{179,212}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,212}}</string>
        <key>sourceSize</key>
        <string>{179,212}</string>
      </dict>
      <key>wing-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{1083,2},{307,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{307,123}}</string>
        <key>sourceSize</key>
        <string>{307,123}</string>
      </dict>
      <key>wing-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,888},{237,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{237,154}}</string>
        <key>sourceSize</key>
        <string>{237,154}</string>
      </dict>
      <key>wing-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{1088,545},{237,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{237,154}}</string>
        <key>sourceSize</key>
        <string>{237,154}</string>
      </dict>
      <key>wing-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1072},{229,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{229,139}}</string>
        <key>sourceSize</key>
        <string>{229,139}</string>
      </dict>
      <key>wing-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1152,786},{335,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,93}}</string>
        <key>sourceSize</key>
        <string>{335,93}</string>
      </dict>
      <key>wing-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,1046},{335,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,93}}</string>
        <key>sourceSize</key>
        <string>{335,93}</string>
      </dict>
      <key>wing-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,1125},{260,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,113}}</string>
        <key>sourceSize</key>
        <string>{260,113}</string>
      </dict>
      <key>wing-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,1073},{137,211}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,211}}</string>
        <key>sourceSize</key>
        <string>{137,211}</string>
      </dict>
      <key>wing-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,1125},{137,211}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,211}}</string>
        <key>sourceSize</key>
        <string>{137,211}</string>
      </dict>
      <key>wing-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1143},{263,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{263,104}}</string>
        <key>sourceSize</key>
        <string>{263,104}</string>
      </dict>
      <key>wing-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1246,545},{159,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,164}}</string>
        <key>sourceSize</key>
        <string>{159,164}</string>
      </dict>
      <key>wing-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,1143},{130,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,180}}</string>
        <key>sourceSize</key>
        <string>{130,180}</string>
      </dict>
      <key>wing-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{1249,713},{303,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{303,75}}</string>
        <key>sourceSize</key>
        <string>{303,75}</string>
      </dict>
      <key>wing-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{1328,713},{303,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{303,75}}</string>
        <key>sourceSize</key>
        <string>{303,75}</string>
      </dict>
      <key>wing-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,2},{193,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{193,117}}</string>
        <key>sourceSize</key>
        <string>{193,117}</string>
      </dict>
      <key>wing-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,123},{227,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{227,99}}</string>
        <key>sourceSize</key>
        <string>{227,99}</string>
      </dict>
      <key>wing-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1313,123},{227,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{227,99}}</string>
        <key>sourceSize</key>
        <string>{227,99}</string>
      </dict>
      <key>wing-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,1214},{208,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{208,103}}</string>
        <key>sourceSize</key>
        <string>{208,103}</string>
      </dict>
      <key>wing-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1248,354},{185,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{185,116}}</string>
        <key>sourceSize</key>
        <string>{185,116}</string>
      </dict>
      <key>wing-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,1251},{173,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{173,123}}</string>
        <key>sourceSize</key>
        <string>{173,123}</string>
      </dict>
      <key>wing-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,1242},{251,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{251,70}}</string>
        <key>sourceSize</key>
        <string>{251,70}</string>
      </dict>
      <key>wing-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,1277},{251,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{251,70}}</string>
        <key>sourceSize</key>
        <string>{251,70}</string>
      </dict>
      <key>wing-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1321},{261,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{261,67}}</string>
        <key>sourceSize</key>
        <string>{261,67}</string>
      </dict>
      <key>wing-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1215},{177,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{177,95}}</string>
        <key>sourceSize</key>
        <string>{177,95}</string>
      </dict>
      <key>wing-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1156,1266},{205,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{205,81}}</string>
        <key>sourceSize</key>
        <string>{205,81}</string>
      </dict>
      <key>wing-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,1321},{143,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,109}}</string>
        <key>sourceSize</key>
        <string>{143,109}</string>
      </dict>
      <key>wing-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,1316},{143,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,109}}</string>
        <key>sourceSize</key>
        <string>{143,109}</string>
      </dict>
      <key>wing-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{1249,1020},{89,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,153}}</string>
        <key>sourceSize</key>
        <string>{89,153}</string>
      </dict>
      <key>wing-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1392},{213,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{213,61}}</string>
        <key>sourceSize</key>
        <string>{213,61}</string>
      </dict>
      <key>wing-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,553},{205,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{205,54}}</string>
        <key>sourceSize</key>
        <string>{205,54}</string>
      </dict>
      <key>wing-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{1026,1316},{92,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,111}}</string>
        <key>sourceSize</key>
        <string>{92,111}</string>
      </dict>
      <key>wing-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,1351},{92,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,111}}</string>
        <key>sourceSize</key>
        <string>{92,111}</string>
      </dict>
      <key>wing-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,1378},{203,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{203,43}}</string>
        <key>sourceSize</key>
        <string>{203,43}</string>
      </dict>
      <key>wing-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1073},{103,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,56}}</string>
        <key>sourceSize</key>
        <string>{103,56}</string>
      </dict>
      <key>wing-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,1351},{103,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,56}}</string>
        <key>sourceSize</key>
        <string>{103,56}</string>
      </dict>
      <key>wing-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,2},{66,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,78}}</string>
        <key>sourceSize</key>
        <string>{66,78}</string>
      </dict>
      <key>wing-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,84},{66,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,78}}</string>
        <key>sourceSize</key>
        <string>{66,78}</string>
      </dict>
      <key>wing-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,1215},{99,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,45}}</string>
        <key>sourceSize</key>
        <string>{99,45}</string>
      </dict>
      <key>wing-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{1083,313},{99,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,45}}</string>
        <key>sourceSize</key>
        <string>{99,45}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>wing.png</string>
      <key>size</key>
      <string>{1414,1455}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
