<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bubble (16).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{316,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{316,280}}</string>
        <key>sourceSize</key>
        <string>{316,280}</string>
      </dict>
      <key>bubble (12).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,286},{288,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{288,300}}</string>
        <key>sourceSize</key>
        <string>{288,300}</string>
      </dict>
      <key>bubble (26).png</key>
      <dict>
        <key>frame</key>
        <string>{{322,2},{312,272}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{312,272}}</string>
        <key>sourceSize</key>
        <string>{312,272}</string>
      </dict>
      <key>bubble (11).png</key>
      <dict>
        <key>frame</key>
        <string>{{306,318},{320,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{320,260}}</string>
        <key>sourceSize</key>
        <string>{320,260}</string>
      </dict>
      <key>bubble (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{570,318},{312,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{312,260}}</string>
        <key>sourceSize</key>
        <string>{312,260}</string>
      </dict>
      <key>bubble (23).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,578},{260,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,288}}</string>
        <key>sourceSize</key>
        <string>{260,288}</string>
      </dict>
      <key>bubble (32).png</key>
      <dict>
        <key>frame</key>
        <string>{{570,634},{220,340}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,340}}</string>
        <key>sourceSize</key>
        <string>{220,340}</string>
      </dict>
      <key>bubble (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{598,2},{260,284}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,284}}</string>
        <key>sourceSize</key>
        <string>{260,284}</string>
      </dict>
      <key>bubble (28).png</key>
      <dict>
        <key>frame</key>
        <string>{{294,642},{276,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,260}}</string>
        <key>sourceSize</key>
        <string>{276,260}</string>
      </dict>
      <key>bubble (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{794,634},{264,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{264,264}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>bubble (10).png</key>
      <dict>
        <key>frame</key>
        <string>{{834,290},{340,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{340,204}}</string>
        <key>sourceSize</key>
        <string>{340,204}</string>
      </dict>
      <key>bubble (31).png</key>
      <dict>
        <key>frame</key>
        <string>{{794,902},{220,312}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,312}}</string>
        <key>sourceSize</key>
        <string>{220,312}</string>
      </dict>
      <key>bubble (19).png</key>
      <dict>
        <key>frame</key>
        <string>{{862,2},{280,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{280,244}}</string>
        <key>sourceSize</key>
        <string>{280,244}</string>
      </dict>
      <key>bubble (27).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,842},{244,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{244,280}}</string>
        <key>sourceSize</key>
        <string>{244,280}</string>
      </dict>
      <key>bubble (14).png</key>
      <dict>
        <key>frame</key>
        <string>{{250,922},{260,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,260}}</string>
        <key>sourceSize</key>
        <string>{260,260}</string>
      </dict>
      <key>bubble (33).png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,286},{312,212}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{312,212}}</string>
        <key>sourceSize</key>
        <string>{312,212}</string>
      </dict>
      <key>bubble (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{514,978},{292,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{292,224}}</string>
        <key>sourceSize</key>
        <string>{292,224}</string>
      </dict>
      <key>bubble (18).png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,902},{260,248}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,248}}</string>
        <key>sourceSize</key>
        <string>{260,248}</string>
      </dict>
      <key>bubble (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{1062,602},{260,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,244}}</string>
        <key>sourceSize</key>
        <string>{260,244}</string>
      </dict>
      <key>bubble (13).png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,1154},{248,248}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,248}}</string>
        <key>sourceSize</key>
        <string>{248,248}</string>
      </dict>
      <key>bubble (25).png</key>
      <dict>
        <key>frame</key>
        <string>{{742,1218},{288,212}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{288,212}}</string>
        <key>sourceSize</key>
        <string>{288,212}</string>
      </dict>
      <key>bubble (20).png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,2},{260,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,228}}</string>
        <key>sourceSize</key>
        <string>{260,228}</string>
      </dict>
      <key>bubble (9).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1126},{240,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,240}}</string>
        <key>sourceSize</key>
        <string>{240,240}</string>
      </dict>
      <key>bubble (22).png</key>
      <dict>
        <key>frame</key>
        <string>{{246,1186},{248,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,232}}</string>
        <key>sourceSize</key>
        <string>{248,232}</string>
      </dict>
      <key>bubble (29).png</key>
      <dict>
        <key>frame</key>
        <string>{{498,1274},{260,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,220}}</string>
        <key>sourceSize</key>
        <string>{260,220}</string>
      </dict>
      <key>bubble (30).png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,266},{260,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,220}}</string>
        <key>sourceSize</key>
        <string>{260,220}</string>
      </dict>
      <key>bubble (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{1342,2},{220,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,260}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>bubble (15).png</key>
      <dict>
        <key>frame</key>
        <string>{{1270,1154},{228,248}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{228,248}}</string>
        <key>sourceSize</key>
        <string>{228,248}</string>
      </dict>
      <key>bubble (7).png</key>
      <dict>
        <key>frame</key>
        <string>{{1282,850},{232,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{232,232}}</string>
        <key>sourceSize</key>
        <string>{232,232}</string>
      </dict>
      <key>bubble (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{1326,490},{268,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,200}}</string>
        <key>sourceSize</key>
        <string>{268,200}</string>
      </dict>
      <key>bubble (34).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1370},{228,226}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{228,226}}</string>
        <key>sourceSize</key>
        <string>{228,226}</string>
      </dict>
      <key>bubble (24).png</key>
      <dict>
        <key>frame</key>
        <string>{{234,1422},{224,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,224}}</string>
        <key>sourceSize</key>
        <string>{224,224}</string>
      </dict>
      <key>bubble (17).png</key>
      <dict>
        <key>frame</key>
        <string>{{722,1510},{232,212}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{232,212}}</string>
        <key>sourceSize</key>
        <string>{232,212}</string>
      </dict>
      <key>bubble (21).png</key>
      <dict>
        <key>frame</key>
        <string>{{462,1538},{240,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,200}}</string>
        <key>sourceSize</key>
        <string>{240,200}</string>
      </dict>
      <key>bubble (35).png</key>
      <dict>
        <key>frame</key>
        <string>{{958,1406},{212,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{212,188}}</string>
        <key>sourceSize</key>
        <string>{212,188}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>bubble.png</string>
      <key>size</key>
      <string>{1564,1740}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
