<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>glasses-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{172,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,132}}</string>
        <key>sourceSize</key>
        <string>{172,132}</string>
      </dict>
      <key>glasses-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,138},{172,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,132}}</string>
        <key>sourceSize</key>
        <string>{172,132}</string>
      </dict>
      <key>glasses-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,2},{160,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,80}}</string>
        <key>sourceSize</key>
        <string>{160,80}</string>
      </dict>
      <key>glasses-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,2},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
      <key>glasses-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,138},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
      <key>glasses-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,274},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
      <key>glasses-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,274},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
      <key>glasses-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,2},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
      <key>glasses-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,138},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
      <key>glasses-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,338},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
      <key>glasses-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,338},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
      <key>glasses-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,2},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
      <key>glasses-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,274},{132,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,84}}</string>
        <key>sourceSize</key>
        <string>{132,84}</string>
      </dict>
      <key>glasses-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,138},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
      <key>glasses-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,402},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
      <key>glasses-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,402},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
      <key>glasses-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,362},{132,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,68}}</string>
        <key>sourceSize</key>
        <string>{132,68}</string>
      </dict>
      <key>glasses-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,2},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
      <key>glasses-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,138},{128,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,60}}</string>
        <key>sourceSize</key>
        <string>{128,60}</string>
      </dict>
      <key>glasses-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,270},{128,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,60}}</string>
        <key>sourceSize</key>
        <string>{128,60}</string>
      </dict>
      <key>glasses-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,466},{128,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,60}}</string>
        <key>sourceSize</key>
        <string>{128,60}</string>
      </dict>
      <key>glasses-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,466},{128,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,60}}</string>
        <key>sourceSize</key>
        <string>{128,60}</string>
      </dict>
      <key>glasses-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,466},{128,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,60}}</string>
        <key>sourceSize</key>
        <string>{128,60}</string>
      </dict>
      <key>glasses-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,2},{128,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,60}}</string>
        <key>sourceSize</key>
        <string>{128,60}</string>
      </dict>
      <key>glasses-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,134},{128,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,60}}</string>
        <key>sourceSize</key>
        <string>{128,60}</string>
      </dict>
      <key>glasses-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,402},{124,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,100}}</string>
        <key>sourceSize</key>
        <string>{124,100}</string>
      </dict>
      <key>glasses-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,266},{124,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,60}}</string>
        <key>sourceSize</key>
        <string>{124,60}</string>
      </dict>
      <key>glasses-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,402},{124,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,60}}</string>
        <key>sourceSize</key>
        <string>{124,60}</string>
      </dict>
      <key>glasses-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,530},{124,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,60}}</string>
        <key>sourceSize</key>
        <string>{124,60}</string>
      </dict>
      <key>glasses-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,530},{120,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,60}}</string>
        <key>sourceSize</key>
        <string>{120,60}</string>
      </dict>
      <key>glasses-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,530},{120,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,60}}</string>
        <key>sourceSize</key>
        <string>{120,60}</string>
      </dict>
      <key>glasses-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,530},{120,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,60}}</string>
        <key>sourceSize</key>
        <string>{120,60}</string>
      </dict>
      <key>glasses-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,530},{120,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,60}}</string>
        <key>sourceSize</key>
        <string>{120,60}</string>
      </dict>
      <key>glasses-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,2},{120,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,60}}</string>
        <key>sourceSize</key>
        <string>{120,60}</string>
      </dict>
      <key>glasses-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,126},{120,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,60}}</string>
        <key>sourceSize</key>
        <string>{120,60}</string>
      </dict>
      <key>glasses-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,594},{120,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>glasses-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,250},{120,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,60}}</string>
        <key>sourceSize</key>
        <string>{120,60}</string>
      </dict>
      <key>glasses-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,594},{108,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,76}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>glasses-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,594},{108,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,76}}</string>
        <key>sourceSize</key>
        <string>{108,76}</string>
      </dict>
      <key>glasses-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,374},{108,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,60}}</string>
        <key>sourceSize</key>
        <string>{108,60}</string>
      </dict>
      <key>glasses-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,166},{92,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,60}}</string>
        <key>sourceSize</key>
        <string>{92,60}</string>
      </dict>
      <key>glasses-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,594},{92,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,60}}</string>
        <key>sourceSize</key>
        <string>{92,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>glasses.png</string>
      <key>size</key>
      <string>{644,684}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
