<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hairside-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{240,292}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{240,292}}</string>
        <key>sourceSize</key>
        <string>{244,296}</string>
      </dict>
      <key>hairside-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,2},{240,190}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,6},{240,190}}</string>
        <key>sourceSize</key>
        <string>{248,200}</string>
      </dict>
      <key>hairside-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,298},{326,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{326,120}}</string>
        <key>sourceSize</key>
        <string>{328,124}</string>
      </dict>
      <key>hairside-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,422},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{204,176}}</string>
        <key>sourceSize</key>
        <string>{212,184}</string>
      </dict>
      <key>hairside-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,422},{254,141}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,4},{254,141}}</string>
        <key>sourceSize</key>
        <string>{260,148}</string>
      </dict>
      <key>hairside-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,196},{212,169}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,1},{212,169}}</string>
        <key>sourceSize</key>
        <string>{220,172}</string>
      </dict>
      <key>hairside-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,567},{246,139}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{246,139}}</string>
        <key>sourceSize</key>
        <string>{252,144}</string>
      </dict>
      <key>hairside-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,2},{206,166}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,5},{206,166}}</string>
        <key>sourceSize</key>
        <string>{212,176}</string>
      </dict>
      <key>hairside-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,567},{248,127}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{248,127}}</string>
        <key>sourceSize</key>
        <string>{252,132}</string>
      </dict>
      <key>hairside-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,2},{116,223}}</string>
        <key>offset</key>
        <string>{1,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,1},{116,223}}</string>
        <key>sourceSize</key>
        <string>{120,224}</string>
      </dict>
      <key>hairside-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,602},{186,135}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{186,135}}</string>
        <key>sourceSize</key>
        <string>{192,140}</string>
      </dict>
      <key>hairside-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,369},{240,91}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{240,91}}</string>
        <key>sourceSize</key>
        <string>{244,96}</string>
      </dict>
      <key>hairside-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,172},{146,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{146,130}}</string>
        <key>sourceSize</key>
        <string>{152,136}</string>
      </dict>
      <key>hairside-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,2},{70,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{70,260}}</string>
        <key>sourceSize</key>
        <string>{76,264}</string>
      </dict>
      <key>hairside-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,266},{206,89}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,1},{206,89}}</string>
        <key>sourceSize</key>
        <string>{212,92}</string>
      </dict>
      <key>hairside-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,359},{162,109}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,7},{162,109}}</string>
        <key>sourceSize</key>
        <string>{180,120}</string>
      </dict>
      <key>hairside-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,464},{194,87}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,6},{194,87}}</string>
        <key>sourceSize</key>
        <string>{200,100}</string>
      </dict>
      <key>hairside-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,472},{222,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,4},{222,72}}</string>
        <key>sourceSize</key>
        <string>{240,80}</string>
      </dict>
      <key>hairside-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,548},{93,171}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,4},{93,171}}</string>
        <key>sourceSize</key>
        <string>{100,180}</string>
      </dict>
      <key>hairside-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,698},{192,73}}</string>
        <key>offset</key>
        <string>{0,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{192,73}}</string>
        <key>sourceSize</key>
        <string>{192,88}</string>
      </dict>
      <key>hairside-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,723},{206,67}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,4},{206,67}}</string>
        <key>sourceSize</key>
        <string>{212,76}</string>
      </dict>
      <key>hairside-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,710},{194,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,4},{194,68}}</string>
        <key>sourceSize</key>
        <string>{200,76}</string>
      </dict>
      <key>hairside-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,775},{200,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{200,64}}</string>
        <key>sourceSize</key>
        <string>{204,68}</string>
      </dict>
      <key>hairside-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,741},{186,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{186,66}}</string>
        <key>sourceSize</key>
        <string>{192,72}</string>
      </dict>
      <key>hairside-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,782},{160,77}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{160,77}}</string>
        <key>sourceSize</key>
        <string>{160,84}</string>
      </dict>
      <key>hairside-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,811},{176,69}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,5},{176,69}}</string>
        <key>sourceSize</key>
        <string>{180,80}</string>
      </dict>
      <key>hairside-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,794},{224,52}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,3},{224,52}}</string>
        <key>sourceSize</key>
        <string>{232,60}</string>
      </dict>
      <key>hairside-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,843},{198,59}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,3},{198,59}}</string>
        <key>sourceSize</key>
        <string>{204,64}</string>
      </dict>
      <key>hairside-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,794},{104,111}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{104,111}}</string>
        <key>sourceSize</key>
        <string>{108,116}</string>
      </dict>
      <key>hairside-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,548},{87,114}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{87,114}}</string>
        <key>sourceSize</key>
        <string>{92,120}</string>
      </dict>
      <key>hairside-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,884},{208,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,9},{208,42}}</string>
        <key>sourceSize</key>
        <string>{216,60}</string>
      </dict>
      <key>hairside-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,850},{168,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,4},{168,52}}</string>
        <key>sourceSize</key>
        <string>{172,60}</string>
      </dict>
      <key>hairside-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,863},{109,81}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{109,81}}</string>
        <key>sourceSize</key>
        <string>{112,84}</string>
      </dict>
      <key>hairside-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,930},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,4},{166,52}}</string>
        <key>sourceSize</key>
        <string>{172,60}</string>
      </dict>
      <key>hairside-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,948},{160,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{160,54}}</string>
        <key>sourceSize</key>
        <string>{164,60}</string>
      </dict>
      <key>hairside-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,906},{170,48}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,7},{170,48}}</string>
        <key>sourceSize</key>
        <string>{176,60}</string>
      </dict>
      <key>hairside-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,906},{136,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{136,60}}</string>
        <key>sourceSize</key>
        <string>{140,64}</string>
      </dict>
      <key>hairside-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,958},{164,45}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,7},{164,45}}</string>
        <key>sourceSize</key>
        <string>{172,60}</string>
      </dict>
      <key>hairside-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{809,666},{140,50}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,6},{140,50}}</string>
        <key>sourceSize</key>
        <string>{148,60}</string>
      </dict>
      <key>hairside-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,306},{146,45}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,7},{146,45}}</string>
        <key>sourceSize</key>
        <string>{156,60}</string>
      </dict>
      <key>hairside-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,906},{136,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{136,46}}</string>
        <key>sourceSize</key>
        <string>{140,60}</string>
      </dict>
      <key>hairside-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,196},{60,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,84}}</string>
        <key>sourceSize</key>
        <string>{60,84}</string>
      </dict>
      <key>hairside-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,720},{68,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,9},{68,62}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>hairside-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,359},{70,57}}</string>
        <key>offset</key>
        <string>{-1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{70,57}}</string>
        <key>sourceSize</key>
        <string>{72,64}</string>
      </dict>
      <key>hairside-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,710},{65,60}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{65,60}}</string>
        <key>sourceSize</key>
        <string>{68,64}</string>
      </dict>
      <key>hairside-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,420},{54,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,1},{54,70}}</string>
        <key>sourceSize</key>
        <string>{60,72}</string>
      </dict>
      <key>hairside-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,909},{60,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,3},{60,58}}</string>
        <key>sourceSize</key>
        <string>{68,64}</string>
      </dict>
      <key>hairside-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,909},{54,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{54,64}}</string>
        <key>sourceSize</key>
        <string>{60,68}</string>
      </dict>
      <key>hairside-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,494},{43,38}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,11},{43,38}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>hairside-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,850},{16,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,3},{16,54}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>hairside.png</string>
      <key>size</key>
      <string>{955,1005}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
