<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>headasset-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{288,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{288,108}}</string>
        <key>sourceSize</key>
        <string>{288,108}</string>
      </dict>
      <key>headasset-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,114},{200,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,288}}</string>
        <key>sourceSize</key>
        <string>{200,288}</string>
      </dict>
      <key>headasset-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,2},{276,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,200}}</string>
        <key>sourceSize</key>
        <string>{276,200}</string>
      </dict>
      <key>headasset-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,318},{248,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,60}}</string>
        <key>sourceSize</key>
        <string>{248,60}</string>
      </dict>
      <key>headasset-002-shop.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,382},{238,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{238,154}}</string>
        <key>sourceSize</key>
        <string>{238,154}</string>
      </dict>
      <key>headasset-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,282},{228,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{228,200}}</string>
        <key>sourceSize</key>
        <string>{228,200}</string>
      </dict>
      <key>headasset-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,2},{220,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,92}}</string>
        <key>sourceSize</key>
        <string>{220,92}</string>
      </dict>
      <key>headasset-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,226},{216,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,64}}</string>
        <key>sourceSize</key>
        <string>{216,64}</string>
      </dict>
      <key>headasset-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,540},{216,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,60}}</string>
        <key>sourceSize</key>
        <string>{216,60}</string>
      </dict>
      <key>headasset-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,2},{192,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,204}}</string>
        <key>sourceSize</key>
        <string>{192,204}</string>
      </dict>
      <key>headasset-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,226},{204,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,124}}</string>
        <key>sourceSize</key>
        <string>{204,124}</string>
      </dict>
      <key>headasset-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,354},{200,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,120}}</string>
        <key>sourceSize</key>
        <string>{200,120}</string>
      </dict>
      <key>headasset-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,604},{200,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,148}}</string>
        <key>sourceSize</key>
        <string>{200,148}</string>
      </dict>
      <key>headasset-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,540},{200,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,80}}</string>
        <key>sourceSize</key>
        <string>{200,80}</string>
      </dict>
      <key>headasset-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,514},{200,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,160}}</string>
        <key>sourceSize</key>
        <string>{200,160}</string>
      </dict>
      <key>headasset-001-shop.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,514},{196,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,158}}</string>
        <key>sourceSize</key>
        <string>{196,158}</string>
      </dict>
      <key>headasset-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,478},{192,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,88}}</string>
        <key>sourceSize</key>
        <string>{192,88}</string>
      </dict>
      <key>headasset-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,756},{168,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,188}}</string>
        <key>sourceSize</key>
        <string>{168,188}</string>
      </dict>
      <key>headasset-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,718},{188,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,64}}</string>
        <key>sourceSize</key>
        <string>{188,64}</string>
      </dict>
      <key>headasset-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,478},{188,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,60}}</string>
        <key>sourceSize</key>
        <string>{188,60}</string>
      </dict>
      <key>headasset-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,718},{184,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,68}}</string>
        <key>sourceSize</key>
        <string>{184,68}</string>
      </dict>
      <key>headasset-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,718},{180,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,100}}</string>
        <key>sourceSize</key>
        <string>{180,100}</string>
      </dict>
      <key>headasset-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,744},{180,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,80}}</string>
        <key>sourceSize</key>
        <string>{180,80}</string>
      </dict>
      <key>headasset-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,714},{180,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,88}}</string>
        <key>sourceSize</key>
        <string>{180,88}</string>
      </dict>
      <key>headasset-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,674},{180,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,92}}</string>
        <key>sourceSize</key>
        <string>{180,92}</string>
      </dict>
      <key>headasset-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,2},{180,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,108}}</string>
        <key>sourceSize</key>
        <string>{180,108}</string>
      </dict>
      <key>headasset-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,670},{176,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,148}}</string>
        <key>sourceSize</key>
        <string>{176,148}</string>
      </dict>
      <key>headasset-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,186},{176,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,68}}</string>
        <key>sourceSize</key>
        <string>{176,68}</string>
      </dict>
      <key>headasset-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,366},{172,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,68}}</string>
        <key>sourceSize</key>
        <string>{172,68}</string>
      </dict>
      <key>headasset-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,2},{168,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,100}}</string>
        <key>sourceSize</key>
        <string>{168,100}</string>
      </dict>
      <key>headasset-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,858},{164,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,60}}</string>
        <key>sourceSize</key>
        <string>{164,60}</string>
      </dict>
      <key>headasset-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,542},{164,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,120}}</string>
        <key>sourceSize</key>
        <string>{164,120}</string>
      </dict>
      <key>headasset-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,366},{164,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,60}}</string>
        <key>sourceSize</key>
        <string>{164,60}</string>
      </dict>
      <key>headasset-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,850},{160,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,60}}</string>
        <key>sourceSize</key>
        <string>{160,60}</string>
      </dict>
      <key>headasset-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,186},{160,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,80}}</string>
        <key>sourceSize</key>
        <string>{160,80}</string>
      </dict>
      <key>headasset-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,666},{160,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,80}}</string>
        <key>sourceSize</key>
        <string>{160,80}</string>
      </dict>
      <key>headasset-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,928},{160,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,80}}</string>
        <key>sourceSize</key>
        <string>{160,80}</string>
      </dict>
      <key>headasset-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,2},{160,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,160}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>headasset-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,906},{152,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,100}}</string>
        <key>sourceSize</key>
        <string>{152,100}</string>
      </dict>
      <key>headasset-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,166},{152,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,112}}</string>
        <key>sourceSize</key>
        <string>{152,112}</string>
      </dict>
      <key>headasset-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,350},{152,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,136}}</string>
        <key>sourceSize</key>
        <string>{152,136}</string>
      </dict>
      <key>headasset-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,914},{148,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,88}}</string>
        <key>sourceSize</key>
        <string>{148,88}</string>
      </dict>
      <key>headasset-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{1064,282},{128,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,96}}</string>
        <key>sourceSize</key>
        <string>{128,96}</string>
      </dict>
      <key>headasset-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,928},{120,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,60}}</string>
        <key>sourceSize</key>
        <string>{120,60}</string>
      </dict>
      <key>headasset-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,922},{120,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,60}}</string>
        <key>sourceSize</key>
        <string>{120,60}</string>
      </dict>
      <key>headasset-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,506},{116,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,116}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>headasset-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,626},{116,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,116}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>headasset-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,746},{112,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,104}}</string>
        <key>sourceSize</key>
        <string>{112,104}</string>
      </dict>
      <key>headasset-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,854},{96,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,108}}</string>
        <key>sourceSize</key>
        <string>{96,108}</string>
      </dict>
      <key>headasset-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,922},{84,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,60}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>headasset-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{1090,746},{60,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,76}}</string>
        <key>sourceSize</key>
        <string>{60,76}</string>
      </dict>
      <key>headasset-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,446},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>headasset.png</string>
      <key>size</key>
      <string>{1168,1010}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
