<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>key (80).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{261,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{261,59}}</string>
        <key>sourceSize</key>
        <string>{261,59}</string>
      </dict>
      <key>key (81).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,65},{204,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,64}}</string>
        <key>sourceSize</key>
        <string>{204,64}</string>
      </dict>
      <key>key (76).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,133},{56,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,57}}</string>
        <key>sourceSize</key>
        <string>{56,57}</string>
      </dict>
      <key>key (1).png</key>
      <dict>
        <key>frame</key>
        <string>{{63,133},{57,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,55}}</string>
        <key>sourceSize</key>
        <string>{57,55}</string>
      </dict>
      <key>key (77).png</key>
      <dict>
        <key>frame</key>
        <string>{{210,65},{53,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,53}}</string>
        <key>sourceSize</key>
        <string>{53,53}</string>
      </dict>
      <key>key (11).png</key>
      <dict>
        <key>frame</key>
        <string>{{210,122},{46,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,57}}</string>
        <key>sourceSize</key>
        <string>{46,57}</string>
      </dict>
      <key>key (61).png</key>
      <dict>
        <key>frame</key>
        <string>{{124,133},{58,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,45}}</string>
        <key>sourceSize</key>
        <string>{58,45}</string>
      </dict>
      <key>key (75).png</key>
      <dict>
        <key>frame</key>
        <string>{{124,182},{49,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,53}}</string>
        <key>sourceSize</key>
        <string>{49,53}</string>
      </dict>
      <key>key (65).png</key>
      <dict>
        <key>frame</key>
        <string>{{63,192},{49,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,53}}</string>
        <key>sourceSize</key>
        <string>{49,53}</string>
      </dict>
      <key>key (27).png</key>
      <dict>
        <key>frame</key>
        <string>{{177,183},{51,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,50}}</string>
        <key>sourceSize</key>
        <string>{51,50}</string>
      </dict>
      <key>key (39).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,193},{54,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,47}}</string>
        <key>sourceSize</key>
        <string>{54,47}</string>
      </dict>
      <key>key (24).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,244},{55,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,46}}</string>
        <key>sourceSize</key>
        <string>{55,46}</string>
      </dict>
      <key>key (35).png</key>
      <dict>
        <key>frame</key>
        <string>{{177,237},{45,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,56}}</string>
        <key>sourceSize</key>
        <string>{45,56}</string>
      </dict>
      <key>key (73).png</key>
      <dict>
        <key>frame</key>
        <string>{{120,239},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>key (29).png</key>
      <dict>
        <key>frame</key>
        <string>{{61,245},{46,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,54}}</string>
        <key>sourceSize</key>
        <string>{46,54}</string>
      </dict>
      <key>key (41).png</key>
      <dict>
        <key>frame</key>
        <string>{{232,183},{49,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,50}}</string>
        <key>sourceSize</key>
        <string>{49,50}</string>
      </dict>
      <key>key (2).png</key>
      <dict>
        <key>frame</key>
        <string>{{260,122},{51,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,48}}</string>
        <key>sourceSize</key>
        <string>{51,48}</string>
      </dict>
      <key>key (48).png</key>
      <dict>
        <key>frame</key>
        <string>{{237,237},{52,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,47}}</string>
        <key>sourceSize</key>
        <string>{52,47}</string>
      </dict>
      <key>key (9).png</key>
      <dict>
        <key>frame</key>
        <string>{{267,2},{42,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,56}}</string>
        <key>sourceSize</key>
        <string>{42,56}</string>
      </dict>
      <key>key (12).png</key>
      <dict>
        <key>frame</key>
        <string>{{267,62},{42,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,56}}</string>
        <key>sourceSize</key>
        <string>{42,56}</string>
      </dict>
      <key>key (42).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,294},{49,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,48}}</string>
        <key>sourceSize</key>
        <string>{49,48}</string>
      </dict>
      <key>key (55).png</key>
      <dict>
        <key>frame</key>
        <string>{{174,286},{47,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,50}}</string>
        <key>sourceSize</key>
        <string>{47,50}</string>
      </dict>
      <key>key (44).png</key>
      <dict>
        <key>frame</key>
        <string>{{119,293},{50,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,47}}</string>
        <key>sourceSize</key>
        <string>{50,47}</string>
      </dict>
      <key>key (14).png</key>
      <dict>
        <key>frame</key>
        <string>{{55,295},{45,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,52}}</string>
        <key>sourceSize</key>
        <string>{45,52}</string>
      </dict>
      <key>key (46).png</key>
      <dict>
        <key>frame</key>
        <string>{{225,288},{44,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,53}}</string>
        <key>sourceSize</key>
        <string>{44,53}</string>
      </dict>
      <key>key (63).png</key>
      <dict>
        <key>frame</key>
        <string>{{285,174},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>key (3).png</key>
      <dict>
        <key>frame</key>
        <string>{{273,288},{44,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,52}}</string>
        <key>sourceSize</key>
        <string>{44,52}</string>
      </dict>
      <key>key (50).png</key>
      <dict>
        <key>frame</key>
        <string>{{293,226},{43,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,53}}</string>
        <key>sourceSize</key>
        <string>{43,53}</string>
      </dict>
      <key>key (52).png</key>
      <dict>
        <key>frame</key>
        <string>{{321,283},{41,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,55}}</string>
        <key>sourceSize</key>
        <string>{41,55}</string>
      </dict>
      <key>key (7).png</key>
      <dict>
        <key>frame</key>
        <string>{{313,2},{45,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,50}}</string>
        <key>sourceSize</key>
        <string>{45,50}</string>
      </dict>
      <key>key (19).png</key>
      <dict>
        <key>frame</key>
        <string>{{313,56},{44,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,51}}</string>
        <key>sourceSize</key>
        <string>{44,51}</string>
      </dict>
      <key>key (6).png</key>
      <dict>
        <key>frame</key>
        <string>{{315,111},{40,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,56}}</string>
        <key>sourceSize</key>
        <string>{40,56}</string>
      </dict>
      <key>key (59).png</key>
      <dict>
        <key>frame</key>
        <string>{{321,342},{46,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,48}}</string>
        <key>sourceSize</key>
        <string>{46,48}</string>
      </dict>
      <key>key (17).png</key>
      <dict>
        <key>frame</key>
        <string>{{173,340},{46,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,48}}</string>
        <key>sourceSize</key>
        <string>{46,48}</string>
      </dict>
      <key>key (57).png</key>
      <dict>
        <key>frame</key>
        <string>{{223,345},{45,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,49}}</string>
        <key>sourceSize</key>
        <string>{45,49}</string>
      </dict>
      <key>key (33).png</key>
      <dict>
        <key>frame</key>
        <string>{{273,344},{44,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,50}}</string>
        <key>sourceSize</key>
        <string>{44,50}</string>
      </dict>
      <key>key (15).png</key>
      <dict>
        <key>frame</key>
        <string>{{55,344},{44,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,50}}</string>
        <key>sourceSize</key>
        <string>{44,50}</string>
      </dict>
      <key>key (5).png</key>
      <dict>
        <key>frame</key>
        <string>{{103,344},{43,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,51}}</string>
        <key>sourceSize</key>
        <string>{43,51}</string>
      </dict>
      <key>key (72).png</key>
      <dict>
        <key>frame</key>
        <string>{{337,171},{37,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,59}}</string>
        <key>sourceSize</key>
        <string>{37,59}</string>
      </dict>
      <key>key (31).png</key>
      <dict>
        <key>frame</key>
        <string>{{359,111},{42,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,52}}</string>
        <key>sourceSize</key>
        <string>{42,52}</string>
      </dict>
      <key>key (67).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,346},{45,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,48}}</string>
        <key>sourceSize</key>
        <string>{45,48}</string>
      </dict>
      <key>key (22).png</key>
      <dict>
        <key>frame</key>
        <string>{{340,212},{40,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,53}}</string>
        <key>sourceSize</key>
        <string>{40,53}</string>
      </dict>
      <key>key (78).png</key>
      <dict>
        <key>frame</key>
        <string>{{361,56},{50,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,42}}</string>
        <key>sourceSize</key>
        <string>{50,42}</string>
      </dict>
      <key>key (10).png</key>
      <dict>
        <key>frame</key>
        <string>{{366,269},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>key (25).png</key>
      <dict>
        <key>frame</key>
        <string>{{103,391},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>key (8).png</key>
      <dict>
        <key>frame</key>
        <string>{{160,392},{39,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,52}}</string>
        <key>sourceSize</key>
        <string>{39,52}</string>
      </dict>
      <key>key (37).png</key>
      <dict>
        <key>frame</key>
        <string>{{321,394},{39,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,51}}</string>
        <key>sourceSize</key>
        <string>{39,51}</string>
      </dict>
      <key>key (56).png</key>
      <dict>
        <key>frame</key>
        <string>{{371,326},{37,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,53}}</string>
        <key>sourceSize</key>
        <string>{37,53}</string>
      </dict>
      <key>key (49).png</key>
      <dict>
        <key>frame</key>
        <string>{{362,2},{39,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,50}}</string>
        <key>sourceSize</key>
        <string>{39,50}</string>
      </dict>
      <key>key (26).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,398},{36,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,54}}</string>
        <key>sourceSize</key>
        <string>{36,54}</string>
      </dict>
      <key>key (20).png</key>
      <dict>
        <key>frame</key>
        <string>{{216,398},{38,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,51}}</string>
        <key>sourceSize</key>
        <string>{38,51}</string>
      </dict>
      <key>key (28).png</key>
      <dict>
        <key>frame</key>
        <string>{{405,2},{38,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,50}}</string>
        <key>sourceSize</key>
        <string>{38,50}</string>
      </dict>
      <key>key (36).png</key>
      <dict>
        <key>frame</key>
        <string>{{384,212},{37,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,51}}</string>
        <key>sourceSize</key>
        <string>{37,51}</string>
      </dict>
      <key>key (30).png</key>
      <dict>
        <key>frame</key>
        <string>{{400,167},{39,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,48}}</string>
        <key>sourceSize</key>
        <string>{39,48}</string>
      </dict>
      <key>key (40).png</key>
      <dict>
        <key>frame</key>
        <string>{{409,267},{50,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,36}}</string>
        <key>sourceSize</key>
        <string>{50,36}</string>
      </dict>
      <key>key (47).png</key>
      <dict>
        <key>frame</key>
        <string>{{405,110},{38,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,47}}</string>
        <key>sourceSize</key>
        <string>{38,47}</string>
      </dict>
      <key>key (66).png</key>
      <dict>
        <key>frame</key>
        <string>{{407,56},{38,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,47}}</string>
        <key>sourceSize</key>
        <string>{38,47}</string>
      </dict>
      <key>key (62).png</key>
      <dict>
        <key>frame</key>
        <string>{{376,383},{48,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,37}}</string>
        <key>sourceSize</key>
        <string>{48,37}</string>
      </dict>
      <key>key (16).png</key>
      <dict>
        <key>frame</key>
        <string>{{412,321},{36,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,49}}</string>
        <key>sourceSize</key>
        <string>{36,49}</string>
      </dict>
      <key>key (23).png</key>
      <dict>
        <key>frame</key>
        <string>{{271,398},{41,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,43}}</string>
        <key>sourceSize</key>
        <string>{41,43}</string>
      </dict>
      <key>key (54).png</key>
      <dict>
        <key>frame</key>
        <string>{{60,398},{38,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,46}}</string>
        <key>sourceSize</key>
        <string>{38,46}</string>
      </dict>
      <key>key (13).png</key>
      <dict>
        <key>frame</key>
        <string>{{2,438},{46,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,37}}</string>
        <key>sourceSize</key>
        <string>{46,37}</string>
      </dict>
      <key>key (51).png</key>
      <dict>
        <key>frame</key>
        <string>{{102,434},{38,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,44}}</string>
        <key>sourceSize</key>
        <string>{38,44}</string>
      </dict>
      <key>key (64).png</key>
      <dict>
        <key>frame</key>
        <string>{{144,435},{40,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,41}}</string>
        <key>sourceSize</key>
        <string>{40,41}</string>
      </dict>
      <key>key (34).png</key>
      <dict>
        <key>frame</key>
        <string>{{188,440},{29,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,56}}</string>
        <key>sourceSize</key>
        <string>{29,56}</string>
      </dict>
      <key>key (58).png</key>
      <dict>
        <key>frame</key>
        <string>{{376,424},{43,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,37}}</string>
        <key>sourceSize</key>
        <string>{43,37}</string>
      </dict>
      <key>key (68).png</key>
      <dict>
        <key>frame</key>
        <string>{{316,437},{37,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,42}}</string>
        <key>sourceSize</key>
        <string>{37,42}</string>
      </dict>
      <key>key (53).png</key>
      <dict>
        <key>frame</key>
        <string>{{447,2},{40,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,38}}</string>
        <key>sourceSize</key>
        <string>{40,38}</string>
      </dict>
      <key>key (60).png</key>
      <dict>
        <key>frame</key>
        <string>{{248,445},{40,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,37}}</string>
        <key>sourceSize</key>
        <string>{40,37}</string>
      </dict>
      <key>key (43).png</key>
      <dict>
        <key>frame</key>
        <string>{{447,107},{40,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,36}}</string>
        <key>sourceSize</key>
        <string>{40,36}</string>
      </dict>
      <key>key (18).png</key>
      <dict>
        <key>frame</key>
        <string>{{449,44},{36,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,40}}</string>
        <key>sourceSize</key>
        <string>{36,40}</string>
      </dict>
      <key>key (45).png</key>
      <dict>
        <key>frame</key>
        <string>{{425,210},{38,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,37}}</string>
        <key>sourceSize</key>
        <string>{38,37}</string>
      </dict>
      <key>key (71).png</key>
      <dict>
        <key>frame</key>
        <string>{{449,251},{20,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,60}}</string>
        <key>sourceSize</key>
        <string>{20,60}</string>
      </dict>
      <key>key (38).png</key>
      <dict>
        <key>frame</key>
        <string>{{452,147},{20,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,53}}</string>
        <key>sourceSize</key>
        <string>{20,53}</string>
      </dict>
      <key>key (4).png</key>
      <dict>
        <key>frame</key>
        <string>{{423,424},{20,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,52}}</string>
        <key>sourceSize</key>
        <string>{20,52}</string>
      </dict>
      <key>key (70).png</key>
      <dict>
        <key>frame</key>
        <string>{{428,374},{52,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,20}}</string>
        <key>sourceSize</key>
        <string>{52,20}</string>
      </dict>
      <key>key (32).png</key>
      <dict>
        <key>frame</key>
        <string>{{428,398},{20,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,50}}</string>
        <key>sourceSize</key>
        <string>{20,50}</string>
      </dict>
      <key>key (74).png</key>
      <dict>
        <key>frame</key>
        <string>{{452,315},{53,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,18}}</string>
        <key>sourceSize</key>
        <string>{53,18}</string>
      </dict>
      <key>key (69).png</key>
      <dict>
        <key>frame</key>
        <string>{{292,445},{20,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,25}}</string>
        <key>sourceSize</key>
        <string>{20,25}</string>
      </dict>
      <key>key (21).png</key>
      <dict>
        <key>frame</key>
        <string>{{186,133},{19,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,18}}</string>
        <key>sourceSize</key>
        <string>{19,18}</string>
      </dict>
      <key>key (79).png</key>
      <dict>
        <key>frame</key>
        <string>{{144,435},{40,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,41}}</string>
        <key>sourceSize</key>
        <string>{40,41}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>key.png</string>
      <key>size</key>
      <string>{489,484}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
