<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>chat_button.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{105,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,106}}</string>
        <key>sourceSize</key>
        <string>{105,106}</string>
      </dict>
      <key>53.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,112},{87,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,87}}</string>
        <key>sourceSize</key>
        <string>{87,87}</string>
      </dict>
      <key>81.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,203},{87,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,87}}</string>
        <key>sourceSize</key>
        <string>{87,87}</string>
      </dict>
      <key>88.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,294},{87,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,87}}</string>
        <key>sourceSize</key>
        <string>{87,87}</string>
      </dict>
      <key>95.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,385},{87,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,87}}</string>
        <key>sourceSize</key>
        <string>{87,87}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>button.png</string>
      <key>size</key>
      <string>{109,474}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
